/*Colors

light blue: #D9E4EC
light gray: #B7CFDC
highlight blue: #6AABD2
Dark blue: #385E72
*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Caveat', cursive, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

h1 {
    color: #6AABD2;
}

section {
    display: flex;
    align-items: center;
    flex-direction: column;
}

input {
    margin-bottom: 25px;
    font-family: sans-serif;
}

#drawGrid {
    display: grid;
    grid-template-columns: repeat(16, 25px);
    grid-template-rows: auto;
    margin-top: 25px;
    border: #385E72 solid 2px;
}

.pixel {
    width: 25px;
    height: 25px;
    background-color: #D9E4EC;
    border: #B7CFDC solid 1px; 
}

.buttons {
    display:flex;
    gap: 25px;
}
button {
    font-size: 1.5rem;
    padding: 0.25rem 1.5rem;
    background-color: #B7CFDC;
    border: none;
    border-radius: 8px;
    color: #385E72;
}