* {
    box-sizing: border-box;
}

body {
    font-family: 'Caveat', cursive, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

section {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#drawGrid {
    display: grid;
    grid-template-columns: repeat(16, 25px);
    grid-template-rows: repeat(16, 25px);
    margin-top: 25px;;
}

.pixel {
    width: 25px;
    height: 25px;
    background-color: yellow;
    border: black solid 1px; 
}